__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
.Python
.venv/
.venv*/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
.DS_Store
.env
.env.*
config.json
mod-jars/*.jar
mod-jars/**/*.jar
mod-jars/*.zip
mod-jars/**/*.zip
